body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

h3 {
  margin-top: 30px;
}

button.search {
  display: inline;
  border-radius: 15px;
  border: 0;
  padding: 10px 30px;
  margin-left: 30px;
  background-color: #ef5f9a;
  color: #fff;
}

button.location {
  display: inline;
  border-radius: 15px;
  border: 0;
  padding: 10px 30px;
  background-color: #9772f3;
  color: #fff;
}

p.day {
  margin-bottom: 0;
}

p.gitLink {
  margin-top: 10px;
  text-align: center;
  font-weight: lighter;
}

a.gitLink {
  color: #9772f3;
  text-decoration: none;
}

a.linkedin {
  color: #fff;
  text-decoration: none;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

a:hover {
  color: #ef5f9a;
  cursor: default;
}

input::placeholder {
  color: #fff;
}

.main_container {
  margin: 50px auto;
  margin-bottom: 50px;
  background: #d7dffc;
  border-radius: 15px;
  box-shadow: 10px 10px 23px rgba(5, 5, 255, 0.2);
  padding: 30px;
  max-width: 500px;
}

.row.text-center {
  padding-right: 0;
  float: none;
  margin: auto;
}

.input_search {
  display: inline;
  padding: 5px;
  margin-bottom: 15px;
  width: 250px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  background: #d7dffc;
  color: #fff;
  border-color: #fff;
}

.search-icon {
  display: inline;
  font-size: 30px;
}

.col-4.date {
  margin: 15px 20px;
  text-align: left;
}

.temperature {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 0;
}

.active {
  font-weight: bold;
}

.units {
  position: relative;
  top: -34px;
}

.humidity {
  margin-bottom: 0;
}

.temps {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0;
}

.present-weather {
  text-align: left;
}

.container {
  margin: 50px auto;
  margin-bottom: 0;
  background: #d7dffc;
  border-radius: 15px;
  box-shadow: 10px 10px 23px rgba(5, 5, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  max-width: 550px;
}

#degreesC {
  text-decoration: none;
  color: #fff;
}
#degreesF {
  text-decoration: none;
  color: #fff;
}

#date {
  margin-top: 0;
  text-align: left;
}

#description {
  margin-bottom: 50px;
  text-transform: capitalize;
  font-weight: bold;
}

#icon_main_temp {
  text-align: right;
  width: 170px;
  margin-top: 40px;
}
